// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@brown: hsl(45, 20%, 60%);
@pink: hsl(330, 60%, 60%);
@blue: hsl(190, 50%, 60%);
@green: hsl(120, 40%, 60%);
